.btn-group-margin {
    margin-right: 10px;
}

.posts-holder {
    padding: 30px;
    margin: 20px 0px 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);

    .loader {
        text-align: center;

        img {
            height: 100px;
        }
    }

    .each-post {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
        width: 47%;
        margin-left: 15px;
        margin-right: 15px;
        height: auto;
        border-radius: 5px;
        overflow: auto;
        background: #fff;
        margin-bottom: 30px;

        .img-post {
            height: auto;
            padding: 10px;

            .image-box {
                width: 100%;
                position: relative;
            }
        }

        .post-text {
            padding: 55px 10px 10px 10px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }

        .comments {
            position: absolute;
            background: #000;
            color: #fff;
            bottom: -45px;
            padding: 10px;
            width: 100%;

            ul {
                padding: 0;
                margin-bottom: 0;
                display: inline-block;
            }

            li {
                display: inline-block;
                padding-right: 15px;
            }
        }
    }
}

.navbar {
    padding: 20px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);

    .btn-primary {
        min-width: 100px;
    }
}

@media (max-width: 800px) {
    .each-post {
        width: 100% !important;
        margin: 10px;
    }
}

@media (max-width: 400px) {
    .each-post {
        width: 100% !important;
        margin: 10px;
    }
}